@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/* Resetando a formatação da página */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Alterando o fundo da página, degradê */
body {
   
    background: linear-gradient(90.50deg, #2F2325 20.62%, #8E5D52 85.61%);
}

/* Conteúdo pai, para centralizar o menu com a imagem e fazer a separação. */

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    width: 65px;
}

/* Conteúdo filho, para a sepração do menu. Gap causa um espaçamento igual */

.cabecalho-menu {
    display: flex;
    gap: 32px;
}
.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu-item:hover {
    color: #041435;
    transition: 1s;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-principal-titulo {
    font-family: 'Righteous', cursive;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 64px;
}


.conteudo-principal-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.conteudo-principal-escrito-botao {
    background-color: #ECD6C4;
    width: 180px;
    height: 67px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Sarala', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #2F2325;

}

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secundario-escrito {
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}


.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top:40px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFF2E7;
}

.rodape {
    padding: 25px;
    border-top: 0.4px solid #FFF2E7;

}

.rodape-imagem {
    height: 35px;
    display: block;
    margin: auto;
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */